@import "../CardBackSettingPicker/CardBackSettingsPicker";
@import "src/components/Card/Card";

.cardBackSettingsToggle {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  color: $button-colour;
  font-size: $card-width * 0.5;
  height: $card-width * 0.5;
  width: $card-width * 0.5;
  z-index: 99;
  text-align: left;
  vertical-align: baseline;
  align-items: center;
  justify-content: center;

  // Disable text highlighting for all browsers
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.cardBackSettingsToggle:active {
  color: $button-active-colour;
}