@use 'sass:math';
$base-size: 15vmin;
$font-size: 4vmin;
$suit-size-multiplier: 0.5;

.black-card {
  color: black;
}

.red-card {
  color: red;
}

#card {
  background-color: #F4EDED;
  width: $base-size;
  height: math.sqrt(2) * $base-size;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 3pt black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Cochin;

  .suit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size;
    width: $base-size * $suit-size-multiplier;
    height: math.sqrt(2) / 3 * $base-size;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size * 1.5;
    width: $base-size;
    height: math.sqrt(2) / 3 * $base-size;
  }
}
