@import "components/Card/Card";

.App {
  display: flex;
  background-color: #282C34;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .game {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 10 * $card-width;
    height: 8 * $card-width;
  }
}
