@import "../Card/Card";

$text-colour: #F4EDED;
$button-colour: #ACB6C8;
$button-bottom: $card-width * 0.2;
$large-font-size: $card-width * 0.25;
$small-font-size: $card-width * 0.2;

.cardBackSettingsPicker {
  color: $text-colour;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: $card-height * 2;
  height: $card-width * 2;
  top: $card-width * 0.2;
  left: $card-width * 0.2;
  font-size: $large-font-size;
  font-family: AppleGothic;
  font-weight: bold;

  .colourChanger {
    display: flex;
    justify-content: center;
    width: 100% ;
    align-items: center;
    font-size: $small-font-size;
  }

  .diamondsChanger {
    display: flex;
    align-items: center;
    font-size: $small-font-size;
  }

  .buttonContainer {
    margin-left: $card-width * 0.1;
    display: flex;
    flex-direction: column;

    #moreDiamondsButton, #upColourButton, #upColourRotatorButton {
      border-left: $button-bottom * 0.8 solid transparent;
      border-right: $button-bottom * 0.8 solid transparent;
      border-bottom: $button-bottom solid $button-colour;
      margin-bottom: 1px;
    }

    #fewerDiamondsButton, #downColourButton, #downColourRotatorButton {
      border-left: $button-bottom * 0.8 solid transparent;
      border-right: $button-bottom * 0.8 solid transparent;
      border-top: $button-bottom solid $button-colour;
    }
  }
}
